* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.logo-img {
  position: absolute;
  top: 26px;
  left: 72px;
}

.hidden-title {
  color: white;
  font-size: 38px;
  font: normal normal 800 38px/68px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  display: none;
  justify-content: center;
  width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 64px;
  width: 100vw;
  color: white;
  font-size: 18px;
  letter-spacing: 0px;
}

.navbar-links {
  margin-top: 2px;
  height: 24px;
  left: 252px;
  width: 1416px;
  margin-left: 179px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.navbar-links li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 1rem;
  height: 24px;
}

.navbar-links li:hover a {
  color: #b4ff00;
}

.navbar-links li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 8px;
  bottom: -20px;
  left: 0;
  background-color: #b4ff00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-links li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-links li:focus {
  color: #b4ff00;
}

.navbar-language {
  display: flex;
  align-items: center;
  color: #858585;
  font-size: 22;
  font-family: "Montserrat", sans-serif;
  margin-right: 50px;
  cursor: pointer;
}

.navbar-language .focused {
  color: white;
  font-weight: 900;
}

.search-icon {
  margin-right: 30px;
}

.toggle-icon {
  position: absolute;
  display: none;
  right: 20px;
}

.toggle-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding-top: 10px;
  transition: 0.5s;
}

.toggle-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 70px;
  height: 300px;
}

.toggle-menu li {
  list-style: none;
  width: 100%;
  text-align: center;
  padding-block: 10px;
}

.toggle-menu li a {
  text-decoration: none;
  font-size: 38px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 0px;
}

.toggle-menu li::after {
  background-color: white;
}

.toggle-menu li:hover {
  background-color: #b4ff00;
}

.language {
  display: flex;
  align-items: center;
  font-size: 12;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 25px;
  padding-top: 55px;
  cursor: pointer;
}

.focused {
  font-weight: 900;
}

.toggle-menu-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 260px;
  background: #4b00ff 0% 0% no-repeat padding-box;
}

.social-icons {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  width: 50%;
  padding-top: 30px;
}

.social-icon {
  cursor: pointer;
}

.cookies {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 900;
  width: 80%;
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 10px;
  cursor: pointer;
}

.com-details {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.com-details p {
  margin-top: 0;
  margin-bottom: 2px;
}

.copywrite {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: white;
  display: flex;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.main-page {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 64px;
  z-index: -1;
}

.carousel-wrapper {
  position: relative;
  background-color: #000000;
}

.carousel-wrapper ul {
  margin: 0;
  padding: 0;
}

.carousel-title {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: extraBold;
  color: white;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 200px;
  padding-left: 10%;
  z-index: 1;
}

.carousel-green-underline {
  background-color: #b4ff00;
  width: 85px;
  height: 10px;
  position: absolute;
  top: 310px;
  margin-left: 10%;
  z-index: 1;
  left: 0;
  animation: underline 0.4s ;
  animation-timing-function: ease-in;
}

.carousel-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: white;
  width: 570px;
  position: absolute;
  top: 380px;
  padding-left: 10%;
  z-index: 1;
}

.slides {
  display: none;
}

.slide-img {
  width: 100%;
  object-fit: contain;
  max-height: fit-content;
  animation: fadeIn 0.5s;
  animation-timing-function: ease-in-out;
  z-index: -1;
}

.dot-container {
  text-align: center;
  width: 100%;
  bottom: 30px;
  position: absolute;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #9f9f9f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-social-icons {
  display: none;
  align-self: center;
  justify-content: space-evenly;
  width: 50%;
  padding-top: 30px;
  filter: invert(1);
}

.products-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.product-container.reversed {
  flex-direction: row-reverse;
}

.reversed .product-img {
  padding-right: 0;
}

.img1 {
  height: 368px;
  width: 696px;
  padding-left: 10%;
  object-fit: cover;
  object-position: initial;
  transition: 0.3s ease-in-out;
}

.product-info {
  padding-bottom: 60px;
  padding-left: 144px;
  padding-right: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-date {
  color: #cfcfcf;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.product-title {
  padding-top: 10px;
  color: #000000;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.product-desc {
  padding-top: 30px;
  max-width: 450px;
  color: #000000;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.search-btn {
  background-color: #4b00ff;
  color: white;
  width: 240px;
  height: 56px;
  border-radius: 42px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-top: 70px;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 3px 6px 0px #00000066;
}

.search-btn:hover {
  background-color: #2d0194;
}

.map-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f8f8;
  margin-top: 70px;
}

.map-img {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
}

.map-with-dot {
  width: 90%;
  position: relative;
}

.map-dot {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #b4ff00;
  position: absolute;
  left: 48%;
  bottom: 48%;
  transition: 0.6s ease;
}

.form-background {
  background-color: #f8f8f8;
  width: 100%;
  z-index: -1;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.form-title {
  font-size: 32px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
  position: relative;
  width: 80%;
  margin-top: 10%;
}

.form-desc {
  display: flex;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.form-field-wrapper {
  position: relative;
  width: 80%;
}

.form-name {
  width: 100%;
  height: 50px;
  border-radius: 28px;
  border: 1px solid #000000;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-left: 40px;
}

.form-name:hover {
  border: 1px solid #4b00ff;
}

.form-name:focus {
  outline: none !important;
  border: 2px solid #4b00ff;
}

.form-check-mark {
  color: #4b00ff;
  position: absolute;
  height: 50px;
  right: 18px;
  display: none;
}

.form-email {
  width: 100%;
  height: 50px;
  border-radius: 28px;
  border: 1px solid #000000;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-left: 40px;
}

.form-email:hover {
  border: 1px solid #4b00ff;
}

.form-email:focus {
  outline: none !important;
  border: 2px solid #4b00ff;
}

.form-num {
  width: 100%;
  height: 50px;
  border-radius: 28px;
  border: 1px solid #000000;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-left: 40px;
}

.form-num:hover {
  border: 1px solid #4b00ff;
}

.form-num:focus {
  outline: none !important;
  border: 2px solid #4b00ff;
}

.form-cat-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 80%;
}

.form-cat {
  width: 40%;
  height: 50px;
  border-radius: 28px;
  border: 1px solid #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding-left: 40px;
}

.form-cat:hover {
  border: 1px solid #4b00ff;
}

.form-cat:focus {
  outline: none !important;
  border: 2px solid #4b00ff;
}

.form-message {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  height: 100px;
  max-height: 170px;
  min-height: 60px;
  border-radius: 28px;
  border: 1px solid #000000;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
  font-size: 16px;
  padding-left: 40px;
  padding-top: 20px;
}

.form-message:hover {
  border: 1px solid #4b00ff;
}

.form-message:focus {
  outline: none !important;
  border: 2px solid #4b00ff;
}

.form-word-counter {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
  padding-bottom: 30px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.form-mini-desc {
  width: 80%;
  opacity: 0.8;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.form-check-wrapper {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.form-check {
  height: 24px;
  width: 24px;
  border: #000000;
  border-radius: 4px;
  border: 1px solid #000000;
  margin-right: 10px;
}

.form-check:hover {
  outline: none !important;
  border: 1px solid #4b00ff;
}

.form-check-label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  align-self: center;
  margin-right: 40px;
}

.submit-btn {
  background-color: #4b00ff;
  color: white;
  width: 240px;
  height: 56px;
  border-radius: 42px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 3px 6px 0px #00000066;
}

.submit-btn:hover {
  background-color: #2d0194;
}

.footer-wrapper {
  width: 100%;
  height: auto;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-left: 42px;
  padding-right: 42px;
}

.copywrite-footer {
  font-size: 16px;
}

.cookies-footer {
  font-size: 18px;
  font-weight: 900;
}

/*Animations*/
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}  
}

.active,
.dot:hover {
  background-color: white;
}

@keyframes underline {
  0% {transform: scaleX(0);
    transform-origin: bottom left;}
  100% {transform: scaleX(1);
    transform-origin: bottom left;}
}

@media (min-width: 986px) {


  .img1:hover {
    object-position: bottom;
    transition: 0.3s ease-in-out;
  }

  .img2 {
    animation: rotate-back 0.1s ease-out;
  }

  .img2:hover {
    animation: rotate 0.1s ease-out;
  }

  @keyframes rotate {
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes rotate-back {
    100% {
      transform: rotate(-180deg);
    }
  }

  .map-dot:hover {
    width: 358px;
    height: 358px;
    position: absolute;
    left: 30%;
    bottom: 30%;
    color: #000000;
    font-size: 22px;
    transition: 0.6s ease;
  }

  .dot-email {
    overflow: hidden;
    color: transparent;
  }

  .map-dot:hover .dot-email {
    position: absolute;
    left: 20%;
    bottom: 50%;
    color: #000000;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    line-height: 2.2;
    transition: 0.5s ease-in;
  }
}

@media (max-width: 985px) {
  .toggle-icon {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .search-icon-svg {
    width: 27;
    height: 27;
  }

  .navbar-language {
    display: none;
  }

  .search-icon {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
  }

  .logo-img {
    width: 40px;
    height: 40px;
    position: unset;
    margin-left: 30px;
  }

  .carousel-title {
    font-size: 38px;
    top: 40px;
  }

  .carousel-green-underline {
    top: 88px;
    width: 40px;
  }

  .carousel-desc {
    font-size: 18px;
    width: 310px;
    top: 118px;
  }

  .product-container {
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .product-container.reversed {
    flex-direction: column;
    align-items: center;
  }

  .img1 {
    max-width: 450px;
    object-fit: cover;
    height: 200px;
    width: 100%;
    padding: 0;
  }

  .product-info {
    padding-left: 0;
    padding-right: 0;
  }

  .product-date {
    padding-top: 30px;
  }

  .submit-btn {
    width: 80%;
  }

  .map-form-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 0;
  }

  .map-with-dot {
    width: 100%;
  }

  .map-img {
    padding-top: 30px;
    height: 360px;
    object-fit: cover;
  }

  .map-dot {
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #b4ff00;
    position: absolute;
    left: 48%;
    bottom: 44%;
    transition: 0.6s ease;
  }

  .map-dot:focus {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 20%;
    bottom: 5%;
    color: #000000;
    font-size: 22px;
    transition: 0.6s ease;
  }

  .map-dot:focus .dot-email {
    position: absolute;
    left: 25%;
    bottom: 45%;
    color: #000000;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 2.2;
    transition: 0.5s ease-in;
  }

  .map-dot:focus .dot-social-icons {
    display: flex;
    position: absolute;
    left: 10%;
    bottom: 30%;
    width: 80%;
  }

  .dot-email {
    overflow: hidden;
    color: transparent;
  }

  .social-icons {
    display: flex;
  }

  .cookies-footer {
    display: none;
  }
}
